body{
    background: rgb(78, 88, 88);
}

h1 {
    color: rgb(245, 245, 245);
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 80px;
    text-align: center;
}

.content {
    background: rgb(236, 236, 236);
    max-width: 960px;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 1px 11px 5px rgba(0, 0, 0, 0.1);
}

form input {
    position: static;
    float: left;
    width: 40%;
    padding: 5px;
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid black;
}

button {
    position: static;
    border: none;
    background: rgb(104, 172, 199);
    border-radius: 10px;
    width: 12%;
    height: 45px;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: ubuntu;
    color: rgb(29, 29, 29);
    float: right;
    margin-right: 30px;
}

ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 0px;
    border-radius: 10px;
}

li{
    padding: 10px;
    background: #f6f6f6;
    font-size: 20px;
    color: rgb(58, 58, 58);
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 50px;
    margin-top: 12px;
    display: block;
    font-weight: bold;
}

li div{
    position: absolute;
    top: 0;
    right: 5px;
    background: rgba(255,255,255,0.6);
    color: black;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid rgb(29, 126, 165);
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}
